.app-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  font-family: "Segoe UI", sans-serif;
  position: relative;
}

.hamburger {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 28px;
  color: white;
  z-index: 10;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
/* scroll bar*/
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 188, 212, 0.6);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 188, 212, 0.9);
}
